@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Witaj w GymApp!</h1>
    <h2>Czy jest GymApp?<h2>
    <p>To aplikacja internetowa pozwalająca na tworzenie własnych planów treningowych w oparciu o rozbudowaną bazę ćwiczeń na każdą partię ciała.</p>
    <p>Dzięki GymApp będziesz mógł:</p>
    <ul>
        <li>Zapoznać się z ćwiczeniami na każdą partię ciała</li>
        <li>Utworzyć swój spersonalizowany trening</li>
        <li>Rejestrować każdą sesję treningową</li>
    </ul>
    <p>Nie masz konta? Zarejestruj się i korzystaj w pełni już dziś!</p>


    
</div>

