@model List<BodyPart>
<link rel="stylesheet" href="~/css/BodyPart.css" />

<div class="viewsBody">
    <h1 class="title">CZĘŚCI CIAŁA:</h1>

    <table>
        <thead>
            <tr>
                <th>Nazwa:</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var bodyPart in Model)
            {
                <tr>
                    <td>@bodyPart.Name</td>
                    <td><a asp-controller="Exercise" asp-action="Index" asp-route-bodyPartId="@bodyPart.Id">Pokaż ćwiczenia</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>