@model List<Exercise>

<h1>Ćwiczenia</h1>

<table class="table">
    <thead>
        <tr>
            <th>Nazwa ćwiczenia</th>
            <th>Część ciała</th>
            <th>Rekordzista</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var exercise in Model)
        {
            <tr>
                <td>@exercise.Name</td>
                <td>@exercise.BodyPart.Name</td>
                <td>@(exercise.RecordHolder != null ? exercise.RecordHolder.Id.ToString() : "N/A")</td>
            </tr>
        }
    </tbody>
</table>